<h1><%= @inventory.name %></h1>
<hr />
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory.inventory_foods.each do |inventory_food| %>
      <tr>
        <td><%= inventory_food.food&.name %></td>
        <td><%= "#{inventory_food.quantity} #{inventory_food.food&.measurement}" %></td>
        <td>
          <%= button_to "Remove", inventory_show_path(@inventory), method: :delete, data: { confirm: "Are you sure you want to remove this food?" }, class: "remove-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Food", new_inventory_food_path(@inventory), class: "add-food-link" %>
