<!-- app/views/recipes/show.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
</head>
<body>
<div class="name"> <h1><%= @recipe.name %></h1> </div>
<div class="frameMain">
  <div>
  <p>
  <strong>Preparation Time:</strong>
  <%= @recipe.preparation_time %> minutes
</p>
<p>
  <strong>Cooking Time:</strong>
  <%= @recipe.cooking_time %> minutes
</p>
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
  </div>
  <div>
    <p>
  <strong>Public:</strong>
  <%= @recipe.public? ? 'Yes' : 'No' %>
</p>
<%= form_with(model: @recipe, local: true) do |form| %>
  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>
  <div class="actions">
    <%= form.submit 'Toggle Visibility' %>
  </div>
<% end %>
  </div>
</div>
<% if @recipe.public? || current_user == @recipe.user %>
  <!-- Display recipe details as in wireframe -->
<% end %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>
<% if current_user == @recipe.user %>
<% end %>
<hr>
<div class="recipediv">
<%= button_tag 'Generate Shopping List', id: 'open-inventory-modal', class: 'btn btn-generate' %>

<div id="My_MODAL_ID" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Select Inventory</h2>
      <span class="close" id="close-inventory-modal">&times;</span>
    </div>
    <div class="modal-body">

<%= form_tag select_inventory_path, method: :post, remote: true do %>
        <%= label_tag :inventory_id, 'Select an Inventory Record' %>
        <%= select_tag :inventory_id, options_from_collection_for_select(Inventory.all, :id, :name), prompt: 'Select an inventory record' %>
        <%= hidden_field_tag :recipe_id, @recipe.id %>
        <%= submit_tag 'Generate', class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>



<button class="add-ingredient"><%= link_to 'Add Ingredient', "/recipes/#{@recipe.id}/recipe_foods/new" %></button>
</div>
<div class="row">
    <% if @foods.length.positive?%>
    <table class="table">
      <tr class="foods__table-header-row">
        <th>Food</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @foods.each do |food|  %>
          <tr id="<%= dom_id food %>", class="foods__table-body-row">
             <td><%= food.name %></td>
            <td><%= food.recipe_foods.select {|recipe| recipe.food_id == food.id}[0].quantity%> <%= food.measurement%></td>
            <td>$<%= food.price%></td>
            <% if current_user.id == @recipe.user.id%>
            <td>
                <%= button_to "Remove", recipe_recipe_food_path(@recipe.id, food.id), method: :delete ,class: "form-submitt" %>
            </td> 
            <% end %>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% else %>
    <p>No Ingredients to show. Add an ingredient from the button above</p>
  <% end %>
    </div>
  </div>
<body>
