<div class="form-container">
  <h2 class="form-header">Log in</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-field">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Log in", class: "form-submit" %>
    </div>
  <% end %>


  <div class="form-links">
  <%= render "devise/shared/links" %>
  </div>
</div>
